#cus a:link, a:visited {
    background-color: #1abc9c;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#cus a:hover, a:active {
    background-color: green;
}

#cus input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 36px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
}